
.pick-wrapper {
    display:flex;
    flex-wrap: wrap;
    width: calc( 100% - 200px );
    padding-left: 200px;
    margin-bottom: 100px;
    background-color: #f9f9f9;
}
.right-wrapper {
    position: relative;
    bottom: 40px;
}
.left-wrapper {
    margin-right: 30px;
    margin-bottom: 20px;
}
.pick-text{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.pick-left {
    max-width: 370px;
    height: auto;
    overflow: hidden;
}

.pick {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.img1 {
    display: flex;
    overflow: hidden;
    height: auto;
    margin-bottom: 25px;
}

.sub-img {
    border: lightgray;
    clear: both;
    overflow: hidden;
    height: auto;
    margin-bottom: 15px;
    margin-right: 15px; 
}

.img-text {

    height: auto;
    overflow: hidden;
}

.img-sub-text {
    height: auto;
    overflow: hidden;
}
