
.pick-wrapper {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 200px;
}
.right-wrapper {
}
.left-wrapper {
}
.pick-text{
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pick-left {
    max-width: 370px;
    height: auto;
    overflow: hidden;
}

.pick {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    bottom: 550px;
}

.img1 {
    display: flex;
    overflow: hidden;
    height: auto;
    margin-bottom: 25px;
}

.sub-img {
    border: lightgray;
    clear: both;
    overflow: hidden;
    height: auto;
    margin-bottom: 15px;
    margin-right: 15px; 
}

.img-text {

    height: auto;
    overflow: hidden;
}

.img-sub-text {
    height: auto;
    overflow: hidden;
}
