.pick-text{
    margin-left: 200px;
    margin-bottom: 100px;
}

.pick-left {
    margin-left: 200px;
    max-width: 370px;
}

.pick { 
    position: relative;
    left: 600px;
    bottom: 525px;
}
  
.pick2 {
    position: relative;
    left: 437px;
    bottom: 470px;
}
  
.pick3 {
    position: relative;
    left: 270px;
    bottom: 400px;
}
  
.img1 {
    display: flex;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin-left: 200px;
    margin-bottom: 25px;
}

.sub-img {
    float: left;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin-bottom: 15px;
    margin-right: 15px; 
}

.img-text {
    max-width: 300px;
    height: auto;
    overflow: hidden;
}