.mag_logo {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}
.mag_logo_img {
    width: 100%;
}
.rootDiv {
    width: 100vw;
}

.main-wrap-wrapper { 
    width: 100%;
}
.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.main-text {
    margin-bottom: 50px;
}

  
.cate-box {
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.cate-box2 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.m-img {
    margin-top: 9px;
    position: relative;
    display:block;
    overflow: hidden;
    max-width: 100%;
}

.m-img2 {
    position: relative;
    margin-top: 9px;
    display:block;
    overflow: hidden;
    max-width: 100%;
}

.txt-wrapper {
    width: 30%;
}
.searchbar {
    float: right;
    margin-bottom: 30px;
    overflow: hidden;
    width: 175px;
    height: 25px;
}

.divGroup{
    display: flex;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.divChild {
    width: 30%;
    margin-top: 9px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.maga {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mag-wrapper {
    margin-bottom: 100px;
}