
.main-foot{
    background-color: lightgray;
}
  
.foot1 { 
    position: relative;
    display: inline-block;
    left: 200px;
}
  
.foot2 {
    position: relative;
    display: inline-block;
    left:500px;
}

.footer-main {
    color: gray; 
}