.foot-wrapper{
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
}

.foot1 { 
    margin-left: 200px;
    width: 20%;
}
  
.foot2 {
    background-color: #f9f9f9;
    width: 30%;
}

.foot-sub-col {
    color: #d3d3d3;
}

.footer-main {
    color: gray; 
}

.foot-space {
    width:10%;
}