.news-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cate-wrapper {
    width: 100%;
}
.categ-box {
    background-color: #3254E4;
  
    color: white;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
}
  
.text-box {
    background-color: #f9f9f9;
    color: darkgray;
    margin-top: 10px;
    margin-bottom: 80px;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.news-text {
    padding: 10px;
} 