.news-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categ-box {
    background-color: #3254E4;
  
    color: white;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
}
  
.text-box {
    background-color: #f9f9f9;
    color: darkgray;
    margin-top: 10px;
    margin-bottom: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.news-text {
    color:  #707070;
    font-size: 19px;
    padding: 10px;
    margin-bottom: 23px;
}

.news-deco {
    text-decoration: none;
}