.text-wrapper{
  width: 100%;
}
.main-news-text {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-logo {
  display: flex;
  overflow: hidden;
  height: auto;
  max-width: 100%;
  margin-bottom: 80px;
}

.main-header {
  background-color: white;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

