
.main-news-text {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 900;
}

.main-header {
  background-color: white;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
