@font-face {
  font-family: 'NanumSquare';
  src: url(./Font/NanumSquareOTFRegular.otf) format('otf');
}

body {
  margin: 0;
  font-family: 'NanumSquare';
  src: url(./Font/NanumSquareOTFRegular.otf) format('otf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
