.App-logo {
    pointer-events: none;
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 0.5px outset #f9f9f9;
}

.main-header {
    width: 900px;
}

.topnav {
    width: 100%;
}

.topnav a:hover {
    color: blue;
}

.App-Nav {
    overflow: hidden;
    float: right;
    color: black;
    text-align: center;
    margin-top: 13px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 35px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
}

.activeStyle{
    color: blue;
}